/* Start Variable */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* End Variable */
/* Start Box */
.d-flex {
    display: flex;
}
.center-flex {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.d-block {
    display: block;
}
.w-fit {
    width: fit-content;
}
.flex-1 {
    flex: 1;
}
@media (max-width: 767px) {
    .block-mobile {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
}
/* End Box */
/* Start padding + margin */
.p-20 {
    padding: 20px;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.pt-5 {
    padding-top: 5px;
}
.m-20 {
    margin: 20px;
}
.m-0 {
    margin: 0;
}
.m-15 {
    margin: 15px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
/* End padding + margin */
/* Start Color */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.c-black {
    color: black;
}
.c-grey {
    color: var(--grey-color);
}
.c-white {
    color: white;
}
.c-blue {
    color: var(--blue-color);
}
.c-orange {
    color: orange;
}
/* End Color */
/* Start Position */
.p-relative {
    position: relative;
}
/* End Position */
/* Start Font */
.txt-c {
    text-align: center;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.w-full {
    width: 100%;
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}
/* End Font */
/* Start Border */
.b-none {
    border: none;
}
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
/* End Border */
/* Start Companent */
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape {
    padding: 5px 10px;
}
/* End Companent */
.h-3 {
    height: 5px;
}
.outline-none {
    outline: none;
    border: 1px solid #ccc;
}